/* src/components/ChatBot.css */
.chatbot-container {
  display: flex;
  height: 100vh;
  background-color: rgb(1, 0, 0);
  color: chartreuse;

}

.chat-history {
  overflow-y: auto;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s ease;
}

.main-content.sidebar-open {
  margin-left: 2px; /* Shift when sidebar is open */
}

.header {
  background-color: #0c0101;
  color: rgba(24, 209, 95, 0.834);
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.chat-area {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}
.chat-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  ;
}
/* ChatBot.css */
/* Define styles for dark mode */
.dark-mode .chatbot-container {
  background-color: #e0b9b9; /* Change background color in dark mode */
  color :black
}

.dark-mode .main-content .header{
  background-color: #e0b9b9; /* Change main content background color in dark mode */
  color: rgb(14, 10, 10);
}

/* Add more styles for dark mode as needed */
