.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: rgb(225, 35, 35);
  border-top: 1px solid #000000;
  border-radius: 2cqmax;
}

.chat-input button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin: 0 10px;
}

.chat-input .send-button {
  margin-left: 10px;
}

.chat-input .mic-button {
  margin-left: auto; /* Move the mic button to the right end */
}

.chat-input textarea {
  flex: 1;
  background-color: rgb(5, 1, 10);
  color: aqua;
  padding: 10px;
  border: 1px solid #c71c1c;
  border-radius: 4px;
  resize: none;
  height: 50px; /* Adjust as needed */
}
