/* Navbar.css */
.navbar {
  background-color: #000000;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.navbar-menu {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.navbar-menu li {
  margin: 0 10px;
}

.dark-mode-toggle {
  cursor: pointer;
  color: white;
}
.dark-mode .navbar {
  background-color: #e0b9b9; /* Change background color in dark mode */
}

.dark-mode .navbar {
  background-color: #e0b9b9; /* Change main content background color in dark mode */
  color: rgb(243, 243, 243);
}

/* Add more styles for dark mode as needed */
