/* src/components/Navbar.css */
.navbar {
  background-color: #000000;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.navbar-menu {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  
}

.navbar-menu li:hover {
  background-color: #064e18;
  border-radius: 50%;
}
.navbar-menu li {
  margin: 0 10px;
  cursor: pointer;
}
